/**************** extend css start ****************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:300,400,500,600,700,800|Roboto:300,400,500");
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_extends.scss */
.btn_1, .btn_2:hover, .main_menu .navbar-toggler:after, .banner_part .banner_text .btn_1, .feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* line 63, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 66, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
a:hover {
  outline: none;
  text-decoration: none;
}

/* line 72, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
h1, h2, h3, h4, h5, h6 {
  color: #0c2e60;
  font-family: "Poppins", sans-serif;
}

/* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 0px;
  color: #888888;
}

/* line 85, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
h2 {
  font-size: 44px;
  line-height: 28px;
  color: #0c2e60;
  font-weight: 600;
  line-height: 1.222;
}

@media (max-width: 576px) {
  /* line 85, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 85, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}

/* line 102, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 576px) {
  /* line 102, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  h3 {
    font-size: 20px;
  }
}

/* line 111, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
h5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
img {
  max-width: 100%;
}

/* line 119, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

/* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

@media (max-width: 576px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

/* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_2 {
  display: inline-block;
  padding: 13px 39px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #0c2e60;
  color: #0c2e60;
  font-size: 14px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  font-size: 15px;
  font-weight: 500;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  background-position: right center;
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

/* line 97, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_4 {
  background-color: #ff663b;
  padding: 3.5px 21px;
  background: #ff663b;
  text-transform: capitalize;
  display: inline-block;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_4:hover {
  background: rgba(255, 102, 59, 0.8);
  color: #fff;
}

/**************menu part start*****************/
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 8, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .navbar-brand {
  padding: 0rem !important;
}

/* line 12, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .navbar {
  padding: 20px 0px;
}

/* line 15, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .navbar-toggler {
  position: relative;
  z-index: 1;
}

/* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .navbar-toggler:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 200% auto;
}

/* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .main-menu-item {
  text-align: right;
  justify-content: right;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item {
    padding-left: 25px;
  }
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link {
  color: #0c2e60;
  font-size: 15px;
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item ul li .nav-link {
    padding: 0px 16px;
  }
}

/* line 46, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link:hover {
  color: #ee390f;
}

/* line 51, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.main_menu .main-menu-item ul .btn_1 {
  color: #fff;
  font-size: 14px;
  padding: 11.5px 33px;
  margin-left: 41px;
}

/* line 67, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

/* line 73, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: 32px;
}

/* line 80, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 9px 18px !important;
  color: #000 !important;
}

/* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.dropdown .dropdown-menu .dropdown-item:hover {
  color: #ff663b !important;
}

/* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 576px) {
  /* line 99, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important;
  }
  /* line 107, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  /* line 110, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  /* line 120, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  /* line 122, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 5px 15px !important;
  }
  /* line 124, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important;
  }
  /* line 129, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-nav {
    align-items: start !important;
  }
  /* line 133, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  /* line 139, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #ff663b;
  }
  /* line 145, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-item:hover {
    color: #ff663b !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 155, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important;
  }
  /* line 162, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  /* line 165, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  /* line 175, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  /* line 177, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }
  /* line 179, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important;
  }
  /* line 184, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-nav {
    align-items: start !important;
  }
  /* line 188, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  /* line 194, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
  /* line 199, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-item:hover {
    color: #ff663b !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 209, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important;
  }
  /* line 216, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  /* line 219, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  /* line 229, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  /* line 231, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }
  /* line 233, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important;
  }
  /* line 238, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .navbar-nav {
    align-items: start !important;
  }
  /* line 242, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  /* line 248, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #ff663b;
  }
  /* line 254, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .dropdown .dropdown-item:hover {
    color: #ff663b !important;
  }
}

/* line 261, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.single_page_menu .logo_2 {
  display: none;
}

/* line 264, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.single_page_menu .logo_1 {
  display: inherit;
}

/* line 270, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.single_page_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 270, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
  .single_page_menu .main-menu-item ul li .nav-link {
    padding: 0px 16px;
  }
}

/* line 284, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

/* line 291, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.menu_fixed .logo_2 {
  display: inherit;
}

/* line 294, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.menu_fixed .logo_1 {
  display: none;
}

/* line 299, E:/172 Etrain Education/172_Etrain_Education_html/sass/_menu.scss */
.menu_fixed .main-menu-item ul li .nav-link {
  color: #000;
}

/**************** banner part css start ****************/
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part {
  height: 880px;
  position: relative;
  overflow: hidden;
  background-image: url(../banner_bg.png);
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: top right;
}

@media (max-width: 576px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 700px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 650px;
  }
}

/* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 880px;
}

/* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 576px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media (max-width: 576px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 700px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 750px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    height: 650px;
  }
}

/* line 68, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #556172;
  margin-bottom: 14px;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 27px;
  line-height: 1.18;
}

@media (max-width: 576px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h1 span {
  color: #ff663b;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

/* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .btn_1 {
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  margin-top: 50px;
  padding: 13.5px 45px;
}

@media (max-width: 576px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

/* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .btn_2 {
  margin-top: 50px;
  padding: 13px 46px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

/* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part:after {
  position: absolute;
  top: 163px;
  width: 41%;
  height: 69%;
  content: "";
  background-image: url(../banner_img.png);
  background-size: 100% 100%;
  right: 9%;
}

@media (max-width: 576px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 150px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 110px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 110px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../banner_img.png);
    background-size: contain;
    right: 5%;
    bottom: 0;
    top: auto;
    background-repeat: no-repeat;
  }
}
/* line 85, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff663b;
}

/* line 93, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, E:/172 Etrain Education/172_Etrain_Education_html/sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}
/* line 1, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb_bg {
  background-image: url("../img/breadcrumb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb {
  position: relative;
  z-index: 1;
  text-align: center;
  color:#333;
}

/* line 10, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: "";
  opacity: 0.8;
  z-index: -1;
}

/* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb .breadcrumb_iner {
  height: 450px;
  width: 100%;
  display: table;
}

/* line 27, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
  display: table-cell;
  vertical-align: middle;
}

/* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
  color: #333;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  /* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 31, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 40px;
  }
}

/* line 53, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
  font-size: 20px;
  color: #333;
}

/* line 58, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item span {
  margin: 0px 5px;
  font-size: 12px;
}

/* line 68, E:/172 Etrain Education/172_Etrain_Education_html/sass/_breadcrumb.scss */
.breadcrumb {
  margin-bottom: 0px !important;
}

/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area {
  background-color: #f7f7f7;
  padding: 100px 0px 20px;
}

@media (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area {
    padding: 70px 0px 30px;
  }
}

/* line 8, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .form-control {
  background-color: transparent;
}

/* line 11, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .form-group {
  margin-top: 25px;
}

@media (max-width: 991px) {
  /* line 14, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }
}

/* line 19, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8;
}

/* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 1024px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}

/* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li {
  margin-bottom: 10px;
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li a {
  color: #555555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}

/* line 42, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li a:hover {
  color: #ff663b;
}

/* line 46, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li:last-child {
  margin-bottom: 0px;
}

/* line 51, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}

/* line 54, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget input {
  height: 40px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  color: #999999;
  border: 0px solid transparent;
  font-family: "Roboto", sans-serif;
}

/* line 65, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none;
}

/* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn {
  background-color: #ff663b;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 0;
}

/* line 83, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 375px) {
  /* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    margin-top: 10px;
  }
}

@media (min-width: 400px) {
  /* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    left: -50px;
  }
}

/* line 98, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_1 img {
  margin-bottom: 35px;
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_1 p {
  margin-bottom: 15px;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_2 .social_icon {
  margin-top: 27px;
}

/* line 108, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_2 .social_icon a {
  color: #cccccc;
  font-size: 14px;
  margin-right: 20px;
}

/* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 15%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%;
  }
}

/* line 135, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 146, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img i {
  text-align: center;
  position: absolute;
  top: 41%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
}

/* line 158, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
  opacity: 0.5;
}

/* line 161, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:hover i {
  opacity: 1;
}

/* line 168, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px;
}

/* line 171, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info:last-child {
  margin-bottom: 0px;
}

/* line 174, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info p {
  margin-bottom: 10px;
}

/* line 176, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info p span {
  color: #0c2e60;
  font-size: 16px;
}

/* line 182, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .btn {
  background-color: #ff663b;
  color: #fff;
  width: 40px;
  border-radius: 0px;
  height: 40px;
  padding: 0;
  border-radius: 2px !important;
}

/* line 228, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .input-group {
  border: 1px solid #dedede;
  padding: 5px;
}

/* line 231, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .input-group ::placeholder {
  font-size: 13px;
  color: #999;
}

/* line 239, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

/* line 244, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .btn_1 {
  margin-top: 0px;
}

/*# sourceMappingURL=style.css.map */